.hide {
    visibility: hidden;
}

.containerConnexion {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap:1rem;
    padding-bottom:2rem;

    .infoUser {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: flex-start;        
    }

    .lienRegistration {
        display:flex;
        flex-direction:row;
        justify-content: center;
        gap:0.5rem;
    }
}

.boutonConnexion {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}