.choixItems-scroll {
    overflow-y: auto;
}

.titre-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
    height:80%;

    h2 {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .gardeRobe-avatar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:1rem;

        .gardRobe {
            width: 200px;
            height: 400px;
            overflow-y: auto;

            .categorieItems {
                display:flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: space-between;
                gap:1rem;
            }
        }
    }

    .ContainerAvatar {
    
        position: absolute;       /* nécessaire pour top/left */
        top: 174px;
        left: 470px; 
        display: flex;            /* aligne les enfants sur une ligne */
        justify-content: flex-start;
        gap: 20px;                /* espace entre zoneAvatar et gardeRobe */

        .zoneAvatar {
    
            width: 1000px;
            height: 600px;
    
            .zoneAvatar #Réinitialiser {
                position: absolute;       
                bottom: 20px;    
                left: 150px;          
            }
            .zoneAvatar #Sauvegarder {
                position: absolute;       
                bottom: 20px;   
                right: 150px;           
            }
            
            .zoneAvatar img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                 
            }
        }
    }
    
}