* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --beige-fond-page: #F8E6C6;
    --vert-pomme-banniere-section: #A7C957;
    --vert-pomme-border: #85A146;
    --vert-foret-btn1-btn4: #31824A;
    --vert-foret-border: #64B57D;
    --rouge-btn2: #BC4749;
    --rouge-btn2-border: #D79192;
    --mauve-btn3: #985277;
    --mauve-btn3-border: #C197AD;
    --vert-ultraclair-panneau: #DCE9BC;
    --vert-clair-inputs-border: #CADF9A;
    --beige-avatar: #F7CA9C;
    --beige-avatar-border: #F5B87B;

    --shadow-section: 0px 6px 10px rgba(61, 42, 22, 0.25);
    --shadow-bouton : 0px 2px 4px rgba(0, 0, 0, 0.25);
    --shadow-avatar : 0px 10px 10px rgba(0, 0, 0, 0.40);
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--beige-fond-page);
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    flex-grow: 1;
}

header {
    background-color: var(--vert-pomme-banniere-section);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin: auto;
}



