* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --beige-fond-page: #F8E6C6;
    --vert-pomme-banniere-section: #A7C957;
    --vert-pomme-border: #85A146;
    --vert-foret-btn1-btn4: #31824A;
    --vert-foret-border: #64B57D;
    --rouge-btn2: #BC4749;
    --rouge-btn2-border: #D79192;
    --mauve-btn3: #985277;
    --mauve-btn3-border: #C197AD;
    --vert-ultraclair-panneau: #DCE9BC;
    --vert-clair-inputs-border: #CADF9A;
    --beige-avatar: #F7CA9C;
    --beige-avatar-border: #F5B87B;

    --shadow-section: 0px 6px 10px rgba(61, 42, 22, 0.25);
    --shadow-bouton : 0px 2px 4px rgba(0, 0, 0, 0.25);
    --shadow-avatar : 0px 10px 10px rgba(0, 0, 0, 0.40);
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--beige-fond-page);
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:hover {
    font-weight: bold;
}

button {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

h1 {
    font-size:2rem;
    font-weight:normal;
}

header {
    background-color: var(--vert-pomme-banniere-section);
    border-bottom: 2px solid  var(--vert-pomme-border);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom:3rem;

    nav {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        flex-grow: 1;
        gap: 3%;
    }

    .connexion-pseudo-money {
        position:relative;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        .money-pseudo {
            display:flex;
            flex-direction: column;
            justify-content: center;

            .porteMonnaie {
                font-size: 1.7rem;;
            }
        }

        .iconeLogout i {
            font-size: 2rem;
        }

        .btnLogout {
            font-size: 1rem;
            color:white;
            background-color: var(--vert-foret-btn1-btn4);
            border:none;
            border-radius:0.6rem;
            padding:1rem;

        }
        .hide {
                display:none; /* OU visibility:hidden ?*/
        }

        /*.show {
            display:flex;
            position: absolute;
            bottom: -2.1rem;
            right: 1rem;
        }

        .show:hover {
            font-weight: bold;
        }*/

    }
}

main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:90%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--vert-pomme-banniere-section);
    border-top:2px solid var(--vert-pomme-border);;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top:3rem;

    .nomsCredits {
        display:flex;
        flex-direction: row;
        gap:1rem;
    }
}










