
.categoriesItems {
    width:80%;
    margin:auto; /*!Pourquoi la div n'est pas centrée ??*/
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 6rem;

    div {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap:1rem;
        width:15%;
        height:30%;

        a img {
            width:100%;
        }
    }
}